<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">MESA DE EXAMENES</h1>
            <h3 class="mb-3">
                <em>Recuerda que puede anotarse a una mesa HASTA 48 HORAS HABILES ANTES DE LA FECHA</em>
                <em>Recuerda que puede bajarse de una mesa HASTA 24 HORAS HABILES ANTES DE LA FECHA</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos!
            </a>
        </div>
    </header>
</main>